.layout{
  background-color: #fff;
}
.content__holder{
  padding: 0 6rem;
}
.top__layout{
  height: 35vh;
  display: flex;
  justify-content: baseline;
  align-items: center;
  background-color: #3949ab;
}

.top__layout h1{
  padding-left: 7rem;
  color: #fff;
}